body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}   

img {
    display: block;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    
}
.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;
}

.header-logo .logo-part {
   color: #2e2f42;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
    
}
.nav-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding-top: 24px;
        padding-bottom: 24px;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
    position: relative;
    
}

.nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;

} 


.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.nav-link.current,
.contacts-link:focus {
color: #404bbf;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.contacts-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        display: block;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-page {

}

.hero {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)
        ),
       url("../images/people-office.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}


.hero-title-part {
    text-transform: none;
}

.hero-btn {
   font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4D5AE5;
    cursor: pointer;
    font-weight: 500;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover, .hero-btn:focus {
    background-color: #404BBF;
}
.feature {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

}

.feature-list {
display: flex;
gap: 24px;
margin: 0 auto;
}

.feature-item {
width: calc((100% - 72px)/4);
}

.feature-item-icon {
    border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background: #f4f4fd;
        display: flex;
        justify-content: center;
         align-items: center;
        margin-bottom: 8px;
        
}

.feature-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;

}

.feature-text {
font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team {
background-color: #f4f4fd;
padding: 120px 0px;
}

.team-title {
font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
    margin: 0 auto;
}

.team-item {
background-color: #FFFFFF;
width: calc((100% - 72px)/4);
border-radius: 0 0 4px 4px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    

}

.team-img {

}

.team-subtitle {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
    
}

.team-text {
font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
    
}

.team-bottom {
padding: 32px 0px;
}

.team-soc-list {
display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-direction: row;
}

.team-soc-item {
    width: 40px;
    height: 40px;
    
}

.team-soc-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: row;
}

.team-soc-link:hover, 
.team-soc-link:focus {
background-color: #404bbf;
} 

.soc-icon {
    fill: #f4f4fd;
}

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    gap: 48px 24px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.portfolio-item {
    width: calc((100% - 48px)/3);
    background: var(--white);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img {
   
}

.portfolio-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
         margin-bottom: 8px;
}

.portfolio-text {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
       
}

.portfolio-bottom {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}

.samb {
    position: relative;
    overflow: hidden;
    
}

.overlay {
    background: #4d5ae5;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        padding: 40px 32px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay {
    transform: translateY(0); 
}

.portfolio-item:hover {
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}


.footer {
    background-color: #2e2f42;
    padding: 100px 0;
    display: flex;
    flex-direction: row;

}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        display: inline-block;
        margin-bottom: 16px;
        
}

.footer-logo-part {
    color: #f4f4fd;
}

.footer-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        width: 264px;
        
}

.div-logo {
 margin-right: 120px;
}

.div-social {

}

.div-social-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
      

}

.div-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-direction: row;

}

.div-social-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.div-social-link {
 width: 100%;
height: 100%;
border-radius: 50%;
background-color: #4d5ae5;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
display: flex;
justify-content: center;
align-items: center;
}

.div-social-link:hover, 
.div-social-link:focus {
    background-color: #31d0aa;
} 

.div-subscribe {
    display: flex;
    flex-direction: column;
        align-items: flex-start;
        margin-left: 80px;
}

.div-subscribe-tex {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}

.div-subscribe-form {
    display: flex;
    gap: 24px;
}

.div-subscribe-input {
    border: 1px solid #ffffff;
        border-radius: 4px;
        width: 264px;
        height: 40px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background-color: transparent;
font-weight: 400;
    font-size: 12px;
    line-height: 2;
        letter-spacing: 0.04em;
        color: #ffffff;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    }
.div-subscribe-input::placeholder {
color: #ffffff;
}

.div-subscribe-lable {
    
}

.div-subscribe-btn {
    border-radius: 4px;
        padding: 8px 24px;
        min-width: 165px;
        height: 40px;
        background-color: #4d5ae5;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #ffffff;
        cursor: pointer;
        border: none;
        padding: 8px 24px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: flex;
        justify-content: center;
        align-items: center;    

}


.div-subscribe-btn:hover,
.div-subscribe-btn:focus {
    background-color: #404BBF;
}

.div-subscribe-icon {
    fill: #fff;
    margin-left: 16px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
opacity: 0;
visibility: hidden;
pointer-events: none;
transition: opacyti 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

 .modal {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 408px;
    min-height: 584px;
    
    border-radius: 4px;
    transform: translate(-50%, -50%);
   
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
    
 }

 .backdrop:not(.is-open) .modal {
    transform: translate(-50%, -100%);
 }

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
        border-radius: 50%;
        background-color: #e7e9fc;
        width: 24px;
        height: 24px;
        cursor: pointer;
        fill: #2e2f42;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.1);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1);
            padding: 0;
}

.modal-close {
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover ,
.modal-close-btn:focus {
    border: none;
    background-color: #404bbf;
    fill: #fff;
}

.modal-close:hover,
.modal-close:focus {
   
}

.modal-title {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 16px;
}

.modal-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 100%;
        height: 40px;
        background-color: transparent;
        padding-left: 38px;
        outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-input:focus {
    border-color: #4d5ae5;
    }

.modal-label {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        display: block;
        margin-bottom: 4px;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-input-wrap {
    position: relative;
}

.modal-icon {
    fill: #2e2f42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-icon {
    fill: #4d5ae5;
}

.modal-dtn {
    display: block;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    cursor: pointer;
    border: none;
    margin-top: 24px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-dtn:hover,
.modal-dtn:focus {
    background-color: #404bbf;
}

.modal-div-textarea {
    margin-bottom: 16px;
}

.modal-textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 100%;
        height: 120px;
        background-color: transparent;
        padding: 8px 16px;
      
        resize: none;
        font-weight: 400;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            color: rgba(46, 47, 66, 0.4);
            outline: transparent;
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            
}

.modal-textarea::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.modal-textarea:hover,
.modal-textarea:focus {
    border: 1px solid #4d5ae5;
}




.modal-check {
    margin-top: 16px;
    margin-bottom: 24px;

}
.modal-check-icon {

}

.modal-span {
    width: 16px;
    height: 16px;
    border-radius: 2px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 8px;
        fill: transparent;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.modal-check-input:checked + .modal-check-label span{
background-color: #404bbf;
border: none;
fill: #f4f4fd;
}



.modal-check-label {
    font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        display: block;
        align-items: center;
}

.modal-check-link {
    line-height: 1.33;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #4d5ae5;
}